.App {
  text-align: center;
  font-size: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
 padding-top: 25%;
}
 
button {

  background-color: rgb(255, 255, 255);
  border: solid black 5px;
  width: 20%;
  padding: 2%;
  border-radius: 10px;
  margin: 2%;
  font-size: 2rem;
}
button:hover{

  background-color: red;
  color: white;
}
